<nav>
  <ul>
    <li><a routerLink="/dt" routerLinkActive="active-link">Directores Técnicos</a></li>
    <li><a routerLink="/equipo" routerLinkActive="active-link">Equipos</a></li>
    <li><a routerLink="/jugador" routerLinkActive="active-link">Jugadores</a></li>
    <li><a routerLink="/pais" routerLinkActive="active-link">Países</a></li>
    <li><a routerLink="/posicion" routerLinkActive="active-link">Posiciones</a></li>
  </ul>
</nav>

<div class="page-container">
  <router-outlet></router-outlet>
</div>
