<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item"><a routerLink="/dt" routerLinkActive="active">Directores Técnicos</a></li>
    <li class="nav-item"><a routerLink="/equipo" routerLinkActive="active">Equipos</a></li>
    <li class="nav-item"><a routerLink="/jugador" routerLinkActive="active">Jugadores</a></li>
    <li class="nav-item"><a routerLink="/pais" routerLinkActive="active">Países</a></li>
    <li class="nav-item"><a routerLink="/posicion" routerLinkActive="active">Posiciones</a></li>
  </ul>
</nav>

<div class="container">
  <router-outlet />
</div>
